<section class="scene-screen">
  <section class="scene">
    <img class="analysis-scene" src="/images/analysisRoom.png">
    <div id="station" class="exit-analysis thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
  </section>
</section>