<section class="scene-screen">
  <section class="scene">
    <div class="rain-container-pier">
      <img class="rain" src="/sprites/rain.png">
    </div>

    <img class="boat-scene" src="/images/boatScene.png">

  </section>
</section>