<section class="scene-screen">
	<section class="scene">
		<img class="scene-one dick-mobile-interior" src="/images/dickMobileInterior.png">
		<div id="exit" class="exit-car thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}}>Get Out</div>
    
	</section>
</section>