<section class="scene-screen">
	<section class="scene">
		<img class="car-foreground" src="/images/carInteriorForeground.png">
		<div class="rain-container car-interior-rain">
      <img class="rain" src="/sprites/rain.png">
    </div>
		<img class="car-background" src="/images/carInteriorBackground.png">
		<div id="exit" class="exit-car thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}}>Get Out</div>
    
	</section>
</section>