<section class="scene-screen">
  <section class="scene">
    <img class="docks" src="/images/docks.png">
    <div class="rain-container-docks">
      <img class="rain" src="/sprites/rain.png">
    </div>
    <img class="docksBg" src="/images/docksBg.png">
    <div class="clouds-container-docks">
      <img class="clouds" src="/images/docksClouds.png">
    </div>
     <div class="waves-container-docks">
      <img class="waves" src="/sprites/waves.png">
    </div>


    <section class="walkable-area docks-scene" {{action walk}}></section>

    <div id="car" class="exit-docks thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

  </section>
</section>