<section class="scene-screen">
  <section class="scene">
    <div class="rain-container-market">
      <img class="rain" src="/sprites/rain.png">
    </div>
    <img class="docks" src="/images/docks.png">
  </section>
</section>