<section class="scene-screen">
  <section class="scene">
    <img class="docks" src="/images/docks.png">
    <div class="rain-container-docks">
      <img class="rain" src="/sprites/rain.png">
    </div>
    <img class="docksBg" src="/images/docksBg.png">
    <div class="clouds-container-docks">
      <img class="clouds" src="/images/docksClouds.png">
    </div>
    
  </section>
</section>