{{#if gameStarted}}
  <div class="game-container">
    {{#player-speach as |playerSpeach npcSpeach speakClear npcSpeakClear|}}
      {{#scene-scripts 
        playerSpeach=(action playerSpeach)
        npcSpeach=(action npcSpeach)
        speakClear=(action speakClear)
        npcSpeakClear=(action npcSpeakClear)
        as |scripts scene convo rodriguezConvo convoOption|
      }}
        {{#player-actions
          scene=scene
          scripts=scripts
          componentName=componentName
          playerSpeach=(action playerSpeach)
          speakClear=(action speakClear)
          convo=(action convo)
          as |walk thingClicked helper verb|
        }}
          {{component componentName
            walk=(action walk)
            thingClicked=(action thingClicked)
            helper=(action helper)
            convoOption=(action convoOption)
            verb=verb
          }}
          {{menu-area 
            verb=verb 
            scripts=scripts 
            playerSpeach=(action playerSpeach)
          }}
        {{/player-actions}}
      {{/scene-scripts}}
    {{/player-speach}}
  </div>
{{else}}
  {{start-screen gameStarted=gameStarted}}
{{/if}}