<section class="action-choice-btns">
  <button data-verb="Look" class="look action-choice-btn" onclick={{action "changeVerb"}}>Look</button>
  <button data-verb="Talk" class="talk action-choice-btn" onclick={{action "changeVerb"}}>Talk</button>
  <button data-verb="Pick" class="pick action-choice-btn" onclick={{action "changeVerb"}}>Pick Up</button>
</section>