<section class="player-speak" onclick={{action speakClear}}>
  <div class="player-portrait">
    <img class="dick-face" src="images/dickFace.png">
  </div>
  <section class="player-speach"></section>
</section>