<section class="player-speak">
  <div class="player-portrait">
    <img class="dick-face" src="images/dickFace.png">
  </div>
  <section class="player-speach"></section>
</section>
{{yield (action playerSpeach) (action npcSpeach) (action speakClear) (action npcSpeakClear)}}