<div id="npcRodriguez">
  <img class="npcSprite" src="sprites/officerRodriguez.png">
</div>
<div id="rodriguez" class="thing" data-type="person" data-name="Officer Rodriguez" onclick={{action thingClicked}} onmouseover={{action helper}}></div>