<section class="npc-speak" onclick={{action speakClear}}>
  <div class="npc-portrait">
    <img class="npc-face" src="images/rodriguezFace.png">
  </div>
  <section class="npc-speach"></section>
</section>