<div id="npcRodriguez" class="thing" data-name="Officer Rodriguez" onclick={{action thingClicked}}>
  <img id="rodriguez" class="npcSprite thing" data-name="Officer Rodriguez" src="sprites/officerRodriguez.png">
</div>