<section class="scene-screen">
  <section class="scene">
    <img class="skyway-scene" src="">
    <div id="car" class="exit-skyway thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

  </section>
</section>