<audio id="themeMusic" src="music/newTheme.wav"></audio>

<section class="devStudioLogoScreen">
  <h1 class="devStudioLogo">STUBALLS GAMES</H1>
</section>

<section class="startScreen">
  <h1 class="title">DICK MALLONE</h1>
  <button class="startGameBtn mainBtn" {{action "startGame"}}>New Game</button>
  {{#if showContinue}}
    <button class="mainBtn load" onclick={{action "continueGame"}}>Continue</button>
  {{else}}
  {{/if}}
  <!--<button class="playTheme mainBtn">Play Theme</button>-->
</section>
{{yield gameStarted}}