<section class="npc-speak" onclick={{action speakClear}}>
  <div class="npc-portrait">
    <img class="npc-face npc-tedFace" src="sprites/tedFace.png">
  </div>

  <section class="npc-speach"></section>
</section>