<section class="scene-screen">
  <section class="scene">
    <img class="teds-trinkets-scene" src="images/tedsTrinkets.png">

    <div id="skyway-market" class="thing skyway-market-door" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <section class="walkable-area teds-trinkets-scene" {{action walk}}></section>


  </section>
</section>