.car-foreground {
	width: 100%;
	display: none;
	position: relative;
  z-index: 1;
}

.shake {
  animation: shake 0.52s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.car-background {
	width: 100%;
	display: none;
  position: relative;
  top: -60.3rem;
  z-index: -1;
}

.car-interior-rain {
	display: none;
	top: -30.5rem;
	position: relative;
	z-index: 0;
}

.exit-car {
  width: 210px;
  display: none;
	top: -93rem;
  left: 0rem;
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

#map {
  width: 9rem;
  height: 6rem;
  top: -88rem;
  left: 51rem;
  position: relative;
  z-index: 1;
}

.map {
  top: -80.5rem;
  left: 51.3rem;
  overflow: hidden;
  width: 8.1rem;
  image-rendering: pixelated;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.map-img {
  width: 18rem;
  animation: map 2500ms steps(2) infinite;
}

@keyframes map {
  100% {
    transform: translateX(-18rem);
  }
}

#cup {
  position: absolute;
  top: 10.5rem;
  left: 63rem;
  z-index: 1;
  width: 7rem;
  height: 8rem;
}

img#cup {
  position: relative;
  top: 0px;
  left: 0px;
  width: 5rem;
  height: 4.5rem;
}

.cup {
  position: absolute;
  top: 9.5rem;
  left: 61rem;
  z-index: 1;
  width: 8rem;
}

.cupEmptyImg {
  width: 10rem;
  image-rendering: pixelated;
}