.scene-one-screen {
  color: white;
}

.scene-one {
  width: 100%;
}

.scene {
  width: 1250px;
  height: 485px;
  margin: auto;
}

.player-action {
  margin-top: 7px;
}

#victim {
  width: 10rem;
  height: 5rem;
  position: relative;
  top: -166px;
  left: 364px;
  z-index: 5;
}

#shards {
  width: 8rem;
  height: 2.4rem;
  position: relative;
  top: -287px;
  left: 547px;
  z-index: 5;
}

#head {
  width: 3rem;
  height: 2rem;
  position: relative;
  top: -266px;
  left: 284px;
  z-index: 5;
}

#car {
  width: 10rem;
  height: 9rem;
  position: relative;
  top: -512px;
  left: 13px;
  z-index: 5;
}

#brokenwindow {
  width: 8rem;
  height: 5rem;
  position: relative;
  top: -775px;
  left: 616px;
  z-index: 5;
}

#handprint {
  width: 2rem;
  height: 3rem;
  position: relative;
  top: -718px;
  left: 802px;
  z-index: 5;
}

#urine {
  width: 8rem;
  height: 2rem;
  position: relative;
  top: -541px;
  left: 805px;
  z-index: 5;
}

#syringe {
  width: 4rem;
  height: 2rem;
  position: relative;
  top: -643px;
  left: 932px;
  z-index: 5;
}

.rain-container {
  top: 6px;
  left: 1px;
  position: absolute;
  width: 1250px;
  height: 482px;
  overflow: hidden;
  z-index: 2;
}

.rain {
  opacity: 0.5;
  width: 3750px;
  -webkit-filter: blur(0);
  animation: raining 400ms steps(3) infinite;
}

@keyframes raining {
  100% {
    transform: translateX(-1250px);
  }
}