.scene-screen {
  color: white;
  height: 486px;
  overflow: hidden;
}

.scene-one {
  display: none;
  width: 100%;
  z-index: -2;
  position: relative;
}

.scene {
  width: auto;
  margin: auto;
}

.victim {
  width: 10rem;
  height: 5rem;
  position: relative;
  top: -166px;
  left: 364px;
  z-index: 5;
}

.shards {
  width: 8rem;
  height: 2.4rem;
  position: relative;
  top: -287px;
  left: 547px;
  z-index: 5;
}

img#shards {
  position: relative;
  top: 0px;
  left: 0px;
  width: 5rem;
  height: 4.5rem;
}

.head {
  width: 3rem;
  height: 2rem;
  position: relative;
  top: -266px;
  left: 284px;
  z-index: 5;
}

.car {
  width: 10rem;
  height: 9rem;
  position: relative;
  top: -512px;
  left: 13px;
  z-index: 5;
}

.broken-window {
  width: 8rem;
  height: 5rem;
  position: relative;
  top: -775px;
  left: 616px;
  z-index: 5;
}

.hand-print {
  width: 2rem;
  height: 3rem;
  position: relative;
  top: -718px;
  left: 802px;
  z-index: 5;
}

.urine {
  width: 8rem;
  height: 2rem;
  position: relative;
  top: -541px;
  left: 805px;
  z-index: 5;
}

.syringe {
  position: relative;
  top: -39rem;
  left: 59rem;
  width: 2rem;
  height: 2rem;
}

#used-syringe {
  width: 4rem;
  height: 2rem;
  position: relative;
  top: -2rem;
  width: 2rem;
  z-index: 5;
}

#syringe {
  height: 4.6rem;
}

.rain-container {
  margin: auto;
  display: none;
  top: -99.9rem;
  position: relative;
  width: 1250px;
  height: 482px;
  overflow: hidden;
  z-index: 2;
}

.rain {
  opacity: 0.5;
  width: 3750px;
  -webkit-filter: blur(0);
  animation: raining 200ms steps(3) infinite;
}

@keyframes raining {
  100% {
    transform: translateX(-1250px);
  }
}

.police-lighting {
  position: relative;
  width: 400px;
  height: 546px;
  top: -130rem;
  left: 54.5rem;
  background: #0020ff;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  opacity: 0.2;
  z-index: -1;
  animation: flashing 1000ms steps(2) infinite;
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 28% 100%, 61% 74%, 51% 74%, 0 100%, 80% 49%);
  -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 28% 100%, 61% 74%, 51% 74%, 0 100%, 80% 49%);
}

@keyframes flashing {
  100% {
    background: #ff0000;
    opacity: 0.2;
  }
}