#player {
  display: none;
  top: 20rem;
  left: 10rem;
  overflow: hidden;
  width: 4.5rem;
  position: absolute;
  z-index: 2;
  margin-top: -12rem;
  margin-left: -3rem;
}
.playerSprite {
  height: 198px;
  width: 60rem;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);
}

@keyframes walkDown {
  100% {
    transform: translateX(-60rem);
  }
}
@keyframes walkRight {
  100% {
    transform: translateX(-60rem);
  }
}
@keyframes walkLeft{
  100% {
    transform: translateX(-60rem);
  }
}
@keyframes walkUp{
  100% {
    transform: translateX(-73rem);
  }
}

.walkRightAnim {
  animation: walkRight 1000ms steps(13) infinite;
}
.walkLeftAnim {
  animation: walkLeft 1000ms steps(13) infinite;
}
.walkUpAnim {
  animation: walkUp 700ms steps(8) infinite;
}
.walkDownAnim {
  animation: walkDown 1000ms steps(13) infinite;
}