#player {
  display: none;
  top: 20rem;
  left: 10rem;
  overflow: hidden;
  width: 4.5rem;
  height: 12rem;
  position: absolute;
  z-index: 2;
  margin-top: -12rem;
  margin-left: -3rem;
  filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
  -webkit-filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
}
.playerSprite {
  height: 198px;
  width: 60rem;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);
}

@keyframes walk {
  100% {
    transform: translateX(-60rem);
  }
}

.walk {
  animation: walk 1000ms steps(13) infinite;
}