.docks {
  width: 100%;
}

.rain-container-docks {
  margin: auto;
  top: -30rem;
  position: relative;
  width: 1250px;
  height: 482px;
  overflow: hidden;
  z-index: 2;
}

.docksBg {
  width: 100%;
  position: relative;
  top: -60.2rem;
  left: 0rem;
  z-index: -2;
}

.clouds-container-docks {
  width: 100%;
  height: 490px;
  position: relative;
  overflow: hidden;
  top: -90.6rem;
  z-index: -1;
}

.clouds {
  background-repeat: repeat-x;
  opacity: 0.8;
  width: 3006px;
  height: 330px;
  -webkit-filter: blur(0);
  animation: clouds 50000ms linear infinite;
}

@keyframes clouds {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1504px, 0, 0);
  }
}

.waves-container-docks {
  width: 1000px;
  height: 300px;
  position: relative;
  overflow: hidden;
  top: -115rem;
  z-index: -1;
}

.waves {
  width: 2250px;
  height: 330px;
  -webkit-filter: blur(0);
  animation: waves 1000ms steps(3) infinite;
}

@keyframes waves {
  100% {
    transform: translateX(-2250px);
  }
}

.exit-docks {
  width: 5.5rem;
  height: 12rem;
  position: relative;
  top: -128.5rem;
  z-index: 5;
}

.gate-container {
  position: relative;
  top: -152rem;
  left: 50rem;
  width: 12rem;
  height: 24rem;
  -webkit-filter: blur(0);
}

#gate {
  height: 15rem;
  position: relative;
  top: -197rem;
  left: 54rem;
  width: 7rem;
  z-index: 5;
}

#opened-gate {
  height: 15rem;
  position: relative;
  top: -197rem;
  left: 54rem;
  width: 7rem;
  z-index: 5;
}



.gate {
  -webkit-filter: blur(0);
  height: 25rem;
  width: 14rem;
}

.gate-door-container {
  top: -176rem;
  left: 53rem;
  height: 24rem;
  width: 12rem;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.gate-door {
  -webkit-filter: blur(0);
  top: 0rem;
  left: -3rem;
  height: 25rem;
  width: 71rem;
  position: relative;
}

.gateAnimation {
  animation: gate 1000ms steps(5);
}

@keyframes gate {
  100% {
    transform: translateX(-71rem);
  }
}

.gate-door-open {
  -webkit-filter: blur(0);
  top: 0rem;
  left: -3rem;
  height: 25rem;
  width: 14.1rem;
  position: relative;
}

.moon {
  top: -218rem;
  left: 2rem;
  height: 3rem;
  width: 4.1rem;
  position: relative;
  z-index: 4;
}

.buoy {
  top: -216rem;
  left: 20rem;
  height: 11rem;
  width: 6.1rem;
  position: relative;
  z-index: 4;
}

.fishing-boat {
  top: -233rem;
  left: 41rem;
  height: 20rem;
  width: 37.1rem;
  position: relative;
  z-index: 4;
}

.pier {
  top: -243rem;
  left: 73rem;
  width: 5rem;
  height: 17.5rem;
  position: relative;
  z-index: 4;
}