.inventory {
  display: none;
  top: 0rem;
  color: white;
  width: 78rem;
  height: 6rem;
  background-color: #181717;
  position: absolute;
  z-index: 3;
}
.items {
  width: 87%;
  height: 4.6rem;
  border: 0.5px solid grey;
  float: right;
  margin: 0.2rem;
  margin-right: 1rem;
}
.inventoryIcon {
  top: 1rem;
  margin-top: 0.4rem;
  color: white;
  position: absolute;
  z-index: 3;
  font-size: 1.5rem;
}
.item {
  height: 4.6rem;
  image-rendering: pixelated;
  float: left;
  padding: 0 0.1rem;
}

.action-choice-btns {
  width: 1250px;
  text-align: left;
  margin: auto;
}

.action-choice-btn {
  font-family: 'Press Start 2P', courier;
  cursor: pointer;
  border: 2px solid white;
  padding: 10px;
  width: 120px;
  background-color: black;
  color: white;
}

.action-choice-btn:focus {
  outline: 0;
}

.full-screen {
  width: 145px;
}

.saveAndLoadBtns {
  float: right;
  margin-top: -2.1rem;
}

.action-helper-container {
  height: 1.5rem;
  width: 35rem;
  left: 26rem;
  position: relative;
}

.player-action {
  letter-spacing: 0.05rem;
  color: yellow;
  float: left;
  margin-right: 0.8rem;
}

.helper {
  letter-spacing: 0.05rem;
  margin-top: -1.5rem;
  color: yellow;
  text-align: left;
}

.options {
  display: none;
  width: 700px;
  text-align: left;
  top: 4rem;
  left: 18rem;
  position: absolute;
  z-index: 3;
  background-color: black;
  border: 0.3rem solid grey;
  border-radius: 5px;
  padding-left: 1rem;
}

.grey {
  color: #2D2C2C;
}