#npcRodriguez {
  display: none;
  top: -60.5rem;
  left: 64.2rem;
  overflow: hidden;
  width: 6.5rem;
  position: relative;
}
.npcSprite {
  height: 220px;
  width: 130rem;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);
  animation: rodriguez 2800ms steps(15) infinite;
}
@keyframes rodriguez {
  100% {
    transform: translateX(-130rem);
  }
}

#rodriguez {
  position: relative;
  top: -74rem;
  left: 67rem;
  width: 6.5rem;
  height: 13rem;
  z-index: 4;
}