.skyway-market-bg-scene {
  width: 100%;
  z-index: -2;
}

.rain-container-market {
  margin: auto;
  top: -30.1rem;
  position: relative;
  width: 1250px;
  height: 482px;
  overflow: hidden;
  z-index: 0;
}

.skyway-market-fg-scene {
  width: 100%;
  top: -60.3rem;
  z-index: 0;
  position: relative;
}

.skyway-entrance-door {
  top: -78rem;
  left: 0rem;
  width: 5.5rem;
  height: 17.5rem;
  position: relative;
  z-index: 5;
}

.teds-trinkets-path {
  top: -145rem;
  left: 72rem;
  width: 5.5rem;
  height: 17.5rem;
  position: relative;
  z-index: 4;
}

.road {
  width: 5.5rem;
  height: 17.5rem;
}

.teds-trinkets {
  width: 5.5rem;
  height: 17.5rem;
}

#pedestrian1-market {
  top: -85rem;
  left: 81rem;
  z-index: 3;
}

#pedestrian2-market {
  top: -86rem;
  left: -3rem;
  z-index: 3;
}

#pedestrian3-market {
  top: -86rem;
  left: -3rem;
  z-index: 3;
}

#pedestrian4-market {
  top: -86rem;
  left: -3rem;
  z-index: 3;
}

#npcDrummer {
  top: -107rem;
  left: 14rem;
  overflow: hidden;
  width: 9.5rem;
  height: 13.5rem;
  position: relative;
  image-rendering: pixelated;
}

.drummerSprite {
  width: 390rem;
  height: 13rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  animation: drummer 3500ms steps(37) infinite;
}
@keyframes drummer {
  100% {
    transform: translateX(-390rem);
  }
}

.drummer {
  top: -120rem;
  left: 14rem;
  width: 9.5rem;
  height: 13.5rem;
  position: relative;
  z-index: 1;
}

#npcCook {
  top: -135.5rem;
  left: 50rem;
  overflow: hidden;
  width: 4.5rem;
  height: 6.5rem;
  position: relative;
  image-rendering: pixelated;
}

.cookSprite {
  width: 31rem;
  height: 6rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  animation: cook 7000ms steps(7) infinite;
}
@keyframes cook {
  0% {
    transform: translateX(0rem);
  }
  80% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(-31rem);
  }
}

.cook {
  top: -141rem;
  left: 50rem;
  width: 5rem;
  height: 6.5rem;
  position: relative;
  z-index: 1;
}

.condiments {
  width: 2rem;
  height: 3rem;
  position: relative;
  top: -163rem;
  left: 47.5rem;
  z-index: 2;
}

.menu {
  width: 10.5rem;
  height: 6rem;
  position: relative;
  top: -169.5rem;
  left: 37rem;
  z-index: 2;
}