.player-speak {
  display: none;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 0.8rem;
  color: white;
  position: absolute;
  z-index: 4;
  max-width: 50%;
}

.player-portrait {
  overflow: hidden;
  width: 12.1rem;
  image-rendering: pixelated;
  border-radius: 5px;
}

.dick-face {
  width: 73rem;
  height: 16rem;  
  filter: blur(0);
  -webkit-filter: blur(0);
  -webkit-transform: translate3d(0,0,0);
  animation: portrait 400ms steps(6) infinite;
}

@keyframes portrait {
  100% {
    transform: translateX(-73rem);
  }
}

.player-speach {
  line-height: 1.5rem;
  font-size: 1.1rem;
  min-width: 22rem;
  max-width: 32rem;
  text-align: left;
  background-color: black;
  border: 0.4rem solid grey;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.5rem 0;
}

.npc-speak {
  display: none;
  top: -14rem;
  left: 39rem;
  position: absolute;
  font-size: 0.8rem;
  color: white;
  position: relative;
  z-index: 4;
  width: 37rem;
}

.npc-portrait {
  margin-top: -14.2rem;
  margin-left: 24rem;
  overflow: hidden;
  width: 12.1rem;
  image-rendering: pixelated;
  border-radius: 5px;
  z-index: 3;
}

.npc-face {
  width: 73rem;
  height: 16rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  -webkit-transform: translate3d(0,0,0);
  animation: portrait 550ms steps(6) infinite;
  z-index: 3;
}

/*img.jenkinsFace {
  width: 73rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  -webkit-transform: translate3d(0,0,0);
  animation: portrait 550ms steps(6) infinite;
  z-index: 3;
}*/
.npc-speach {
  line-height: 1.5rem;
  font-size: 1.1rem;
  min-width: 22rem;
  max-width: 32rem;
  margin-top: 3rem 0.5rem 0.5rem 0.5rem;
  background-color: black;
  border: 0.4rem solid grey;
  border-radius: 0.5rem;
  padding: 0.6rem;
  float: right;
  z-index: 3;
}