@font-face {
  font-family: 'Press Start 2P';
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

body {
  margin: auto;
  max-height: 600px;
  width: 1250px;
  background-color: black;
  font-family: 'Press Start 2P', courier;
  text-align: center;
  letter-spacing: 0.3rem;
  line-height: 90%;
}

.devStudioLogoScreen {
  display: none;
}

.devStudioLogo {
  color: white;
  font-size: 3rem;
  margin-top: 18rem;
}

.startScreen {
  margin: auto;
  display: none;
}
.title {
  width: 80%;
  margin: 100px auto;
  color: white;
  font-size: 7rem;
  line-height: 100%;
}

.startGameBtn {
  width: 6rem;
  padding: 1rem;
  margin-left: 26.3rem;
}
.mainBtn {
  display: none;
  cursor: pointer;
  width: 12rem;
  padding: 1rem;
  margin: 0 1.5rem;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-family: 'Press Start 2P', courier;
}
.game-container {
  overflow: hidden;
}