.walkable-area {
  position: relative;
  width: 1250px;
  height: 201px;
  top: -44.5rem;
  -webkit-clip-path: polygon(8% 0, 98% 0, 100% 100%, 0 100%);
  clip-path: polygon(8% 0, 98% 0, 100% 100%, 0 100%);
}