.in-front {
  z-index: 2;
}

.walkable-area.crimescene {
  position: relative;
  width: 1250px;
  height: 201px;
  top: -43rem;
  -webkit-clip-path: polygon(8% 0, 98% 0, 100% 100%, 0 100%);
  clip-path: polygon(8% 0, 98% 0, 100% 100%, 0 100%);
  z-index: 4;
}

.walkable-area.stationscene {
  position: relative;
  width: 1200px;
  height: 130px;
  top: -93.5rem;
  left: 2rem;
  z-index: 4;
}

.walkable-area.interrogation-room-scene {
  position: relative;
  width: 400px;
  height: 135px;
  top: -69rem;
  left: 44rem;
  -webkit-clip-path: polygon(0% 0, 82% 0, 100% 100%, 0 100%);
  clip-path: polygon(0% 0, 82% 0, 100% 100%, 0 100%);
  z-index: 4;
}

.walkable-area.analysis-scene {
  position: relative;
  width: 637px;
  height: 121px;
  top: -93rem;
  left: 37rem;
  z-index: 4;
}

.walkable-area.skyway-entrance-scene {
  position: relative;
  width: 1200px;
  height: 60px;
  top: -21.5rem;
  left: 1rem;
  z-index: 5;
}

.walkable-area.skyway-market-scene {
  position: relative;
  width: 1200px;
  height: 101px;
  top: -84.5rem;
  left: 1rem;
  z-index: 4;
}

.walkable-area.teds-trinkets-scene {
  position: relative;
  width: 850px;
  height: 110px;
  top: -25rem;
  left: 3rem;
  -webkit-clip-path: polygon(9% 0, 97% 0, 100% 100%, 0 100%);
  clip-path: polygon(9% 0, 97% 0, 100% 100%, 0 100%);
  z-index: 4;
}

